*{
    box-sizing: border-box;
}
body,html{
    margin: 0;
    height: 100%;
    background-color: rgb(230, 230, 230);
    font-family: 'Trebuchet MS', sans-serif;
}
.navbtn{
    margin: auto;
    border: 1px solid rgb(102, 102, 102);
    border-left: 0;
    border-right: 0;
    font-size: 20px;
    width: 100%;
    height: 50px;
    text-align: left;
    background-color: rgb(164, 219, 219);
    cursor: pointer;
}
.navbtn:hover{
    background-color: rgb(200, 223, 223);
}
.container{
    width: 83%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.nav{
    border: 1px solid rgb(138, 197, 197);
    width: 15%;
    min-height: 100vh;
    background-color: rgb(138, 197, 197);
    display: inline-block;
}
table{
    border-collapse: collapse;
    margin: auto;
}
table tr td,th{
    border: 1px solid black;
    width: 300px;
    align-items: center;
}
input{
    width: 300px;
}
.submit{
    margin: 20px auto;
    height: 40px;
    min-width: 70px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(168, 209, 209);
    color: #333;
    border: 1px solid #333;
    font-weight: bold;
}
.submit:hover{
    background-color: rgb(200, 223, 223);
    box-shadow: 3px 3px 10px #afafaf, -3px 3px 10px #afafaf;
}
.form tr td,th{
    border: 0;
    width: 100px;
    align-items: center;
}
input{
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid #333;
    padding: 0px 10px;
}
a{
    text-decoration: none;
    color: #000;
}
.home{
    padding: 0;
    margin: 0;
}
.home:hover{
    background-color: rgb(200, 223, 223);
}
a:visited{
    color: #000;
}
@media only screen and (max-width: 1300px) {
    .home{
        font-size: 18px;
    }    
}
@media only screen and (max-width: 1200px) {
    .home{
        font-size: 14px;
    }    
}
@media only screen and (max-width: 800px) {
    .home{
        font-size: 9px;
    }
    .navbtn{
        font-size: 9px;
    }    
}